img {
    position: absolute;
    top: 20px;
    left: 50px;
}

h2 {
    margin: 0 0 10px 30px;
    /* haut, droite, bas, gauche (respectivement) */
    color: #bb1b43;
    font: 150 georgia, palatino, serif;
    font-style: italic;
}

.cl {
    width: 30%;
}

body {
    background-color: rgb(248, 244, 244);
}